{% load static %}
<link rel = "stylesheet" href = "{% static 'todolist/style/todo.css' %}">
<link rel = "stylesheet" href = "{% static 'todolist/style/universal.css' %}">

<!DOCTYPE html>
<html>
    <form method = "post" style = "display: none;" id = "node_content">
        {% csrf_token %}
        <div>
            <h1>Nodes content</h1>
            <input type = "text" name = "content">
            <input type="checkbox" name = "new" checked style = "display: none;">
            <input type = "submit" value = "Submit">
        </div>
    </form>
    <body>
        <div id = "wrapper">
            <header>
                <h1>Todo</h1>
                <h1>{{board.name}}</h1>
                <a href = "{% url 'todolist:frontpage' %}"><button>Leave</button></a>
            </header>
            <form method = "post"  id = "node-list">
                {% csrf_token %}
                <div id = "nodes">
                    {% for node in board.node_set.all %}
                        <div class = "node">
                            {% if node.isdone == True %} 
                                <input type = "checkbox" name = "isdone_{{node.id}}" id = "isdone_{{node.id}}" checked>
                            {% else %}
                                <input type = "checkbox" name = "isdone_{{node.id}}" id = "isdone_{{node.id}}">
                            {% endif %}
                            <input type = "text" name = "content_{{node.id}}" id = "content_{{node.id}}" value = "{{node.content}}">
                        </div>
                    {% endfor %}
                </div>
                <div id = "nav">
                    <input type = "submit" value = "Save">
                </div>
            </form>
            <button onclick = "showNodeForm();">Create new node</button>

        </div>
    </body>
</html>
<script src = "{% static 'todolist/scripts/todo.js' %}"></script>
