@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-Medium.ttf");
}
:root{
    --picton-blue: #30acea;
    --coquelicot: #f15025;
    --asparagus: #7fb069;
    --seasalt: #fcfafaff;
}
body{
    user-select: none;
    background-color: #30acea;
    color: white;

    font-family: "Nunito";
    margin: 0px;
}
header{
    position: relative;
    background-color: var(--picton-blue);
    border-bottom: solid white .15em;
    padding: .15em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header h1{
    width: 5em;
    text-align: center;
    background-color: rgb(41, 138, 187);
    transform: skew(25deg);
}
header h1 span{
    display: block;
    transform: skew(-25deg);
}
#button-back{
    width: 1em;
    height: 1em;
    padding: .75em;
    border: solid .125em white;
    border-radius: .5em;
    background-color: rgba(255, 255, 255, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .75s cubic-bezier(.17,.67,.1,1.03);
}
#button-back:hover{
    border-radius: 1em;
}
#button-back:active{
    background-color: rgba(255, 255, 255, 25%);
    transform: scale(.9);
}
#list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    gap: 2em;
}
.node{
    width: 80%;
    height: 6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1.5em;
    gap: 2em;
    padding: 2em;
    color: #4a4c4d;
    background-color: white;

}
.node p{
    height: inherit;
    width: fit-content;
    overflow-y: scroll;
}
.node div {
    transition: .75s cubic-bezier(.17,.67,.1,1.03);
}
.node div:active{
    transform: scale(.9);
}
.node div img{
    width: 3em;
    height: 3em;
    filter: invert(29%) sepia(0%) saturate(611%) hue-rotate(276deg) brightness(99%) contrast(94%);
    border: solid .125em black;
    border-radius: .5em;
    transition: .75s cubic-bezier(.17,.67,.1,1.03);
}
.delete:hover img{
    filter: invert(38%) sepia(78%) saturate(2626%) hue-rotate(348deg) brightness(97%) contrast(94%);
}
.edit:hover img{
    filter: invert(59%) sepia(15%) saturate(128%) hue-rotate(158deg) brightness(93%) contrast(94%);
}
.status{
    height: 2em;
    width: 2em;
}