html, body{
    min-height: 100%;
    overflow: hidden;
    background: linear-gradient(217deg, rgba(130, 87, 247, 0.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(96, 200, 241, 0.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(250, 137, 61, 0.8), rgba(0,0,255,0) 70.71%);
}
#wrapper{
    filter: blur(0px);
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 2%;
    gap: 2em;
    transition: .08s filter linear;
}
#boards{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#grid{
    overflow-y: auto;
    padding: 1em;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 25%;
    gap: 1em;
}
.board{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgba(0,0,0,45%), rgba(0,0,0,0%));
    z-index: 2;
}
form div{
    width: 25%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: white;
}
form div h1{
    margin-block-end: 0.125em;
}
#showBoardForm{
    font-size: 14pt;
}
span{
    display: inline-block;
    animation-name: unset;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 3;
    transition: .75s cubic-bezier(.17,.67,.1,1.03);
}
@keyframes handshake {
    0%{
        transform: rotate(0deg) translateY(0em);
    }
    50%{
        transform: rotate(45deg)  translateY(-.5em);
    }
    100%{
        transform: rotate(0deg) translateY(0em);
    }
}